# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js build outputs
/.next/
/out/

# production build outputs
/build

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript build info
*.tsbuildinfo

# OS-specific files
.DS_Store
*.pem

# Editor/IDEs settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project-specific ignored data directory
# /public/data/